@font-face {
    font-family: OpenSans;
    src: url(/dist/);
    font-weight:400;
    font-style:normal;
  }
  
  @font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans-Bold.woff");
    font-weight:700;
    font-style:normal;
  }