$mobile-max: 767px;
$tablet-min: 768px;
$tablet-max: 1279px;
$desktop-min: 1280px;
$font-white: #ffffff;
$color-tag: #b59f5b;
$color-tag-cup: #9d8a4f;
$color-border: #d3c59d;
$color-line: #e1d9bd;
$color-hover: #323232;
$color-input-body: #f4f7f6;
$color-copyright: #f4f7f6;
$color-font: #999999;
$color-border-tag: #eeeeee;
