.main-box {
    display: flex;
    max-width: 1170px;
    margin: 64px auto 0 auto;

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        width: 91%;
    }

    @media (max-width: $mobile-max) {
        width: 92%;
        margin-top: 42px;
        flex-direction: column;
    }
}


.body-main {
    width: 65%;

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        width: 56%;
    }
    @media (max-width: $mobile-max) {
        width: 100%;
    }
}

.body-main-items>li:nth-child(1n+2) {
    margin-top: 58px;
    @media (max-width: $mobile-max) {
        margin-top: 30px;
    }
}

.body-main__item {
    display: flex;

    @media (max-width: $tablet-max) {
        flex-direction: column;
    }

}

.body-main__item::after {
    @media (max-width: $tablet-max) {
        content: "";
        display: block;
        height: 2px;
        width: 100%;
        background-color: $color-border-tag;
        margin-top: 19px;
    }
}

.body-main__item__img {
    width: 100%;
}

.body-main__item__img>img {
    width: 100%;
}

.body-main__item-content {
    margin-left: 32px;
    width: 50%;
    @media (max-width: $tablet-max) {
        margin: 16px 0 0 0;
        width: 100%;
    }

}

.body-main__item-tags {
    display: flex;
    color: $color-tag;
    font-size: 14px;
    text-transform: uppercase;
}

.body-main__item__tag {
    margin: 0 15px 15px 0;
    transition: all 0.3s linear;
}

.body-main__item__tag:hover {
    text-decoration: underline;
}

.body-main__item__title {
    font-size: 20px;
    text-transform: uppercase;
    transition: all 0.3s linear;

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        font-size: 17px;
    }
    @media (max-width: $mobile-max) {
        font-size: 16px;
        width: 100%;
    }
}

.body-main__item__title:hover {
    color: $color-tag;
}

.body-main__item__info {
    margin: 38px 0 54px 0;
    display: flex;

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        margin: 39px 15px 39px 0;
    }
    @media (max-width: $mobile-max) {
        margin: 25px 15px 25px 0;
    }
}

.body-main__item__date {
    font-size: 12px;
    color: $color-font;
    margin-right: 14px;
}

.body-main__item__author {
    font-size: 12px;
}

.body-main__item__text {
    font-size: 15px;
}