.main-box {
    display: flex;
    max-width: 1170px;
    margin: 64px auto 0 auto;
    @media (min-width: $tablet-min) and  (max-width: $tablet-max) {
        width: 91%;
    }
}


.body-main {
    width: 65%;

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        width: 56%;
    }
}

.body-main-items>li:nth-child(1n+2) {
    margin-top: 58px;
}

.body-main__item {
    display: flex;

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        flex-direction: column;
    }
}

.body-main__item__img {
    width: 100%;
}

.body-main__item__img>img {
    width: 100%;
}

.body-main__item-content {
    margin-left: 32px;
    width: 50%;

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        margin-left: 0;
        width: 100%;
        margin-top: 17px;
    }

}

.body-main__item-tags {
    display: flex;
    color: $color-tag;
    font-size: 14px;
    text-transform: uppercase;
}

.body-main__item__tag {
    margin: 0 15px 15px 0;
}

.body-main__item__tag:hover {
    text-decoration: underline;
}

.body-main__item__title {
    font-size: 20px;
    text-transform: uppercase;
    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        font-size: 17px;
    }
}

.body-main__item__title:hover {
    color: $color-tag;
}

.body-main__item__info {
    margin: 38px 0 54px 0;
    display: flex;
    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        margin: 39px 15px 39px 0 ;
    }
}

.body-main__item__date {
    font-size: 12px;
    color: $color-font;
    margin-right: 14px;
}

.body-main__item__author {
    font-size: 12px;
}

.body-main__item__text {
    font-size: 15px;
}