.body-add {
    width: 32%;
    margin-left: 100px;
    @media (min-width: $tablet-min) and  (max-width: $tablet-max) {
        width: 39%;
        margin-left: 38px
    }
    @media (max-width: $mobile-max) {
        width: 91%;
        margin: 42px auto 0 auto;
    }
}

.body-add__title,
.body-add-mailing__title,
.body-add-tags__title,
.body-add-themes__title {
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 29px;
}

.body-add__title::after,
.body-add-mailing__title::after,
.body-add-tags__title::after,
.body-add-themes__title::after {
    display: block;
    content: '';
    height: 3px;
    width: 66px;
    background-color: $color-line;
    margin: 15px auto 0 auto;

}

.body-add-posts {
    width: 100%;
}


.body-add-posts>li:nth-child(1n+2) {
    margin-top: 21px;
}

.body-add__post {
    width: 100%;
    display: flex;
}
.body-add__post__img {
    @media (min-width: $tablet-min) and  (max-width: $tablet-max) {
        width: 25.7%;
    }
    @media (max-width: $mobile-max) {
        width: 21%;
    }
}

.body-add__post__img>img {
    @media (max-width: $mobile-max) {
        width: 100%; 
    }
}
.body-add__post__content {
    margin-left: 21px;
    @media (min-width: $tablet-min) and  (max-width: $tablet-max) {
        width: 74.3%;
    }
    @media (max-width: $mobile-max) {
        width: 78%; 
    }
}

.body-add__post__date {
    font-size: 12px;
    color: $color-font;
    margin: 0 14px 6px 0;
}

.body-add__post__title {
    text-transform: uppercase;
    font-size: 14px;
}

.body-add-find {
    height: 48px;
    margin: 61px;
    display: flex;
    margin: 61px 0 61px 0;
    @media (max-width: $mobile-max) {
        margin: 40px 0 40px 0;
    }
}

.body-add-find__input {
    box-sizing: border-box;
    width: 84%;
    padding: 18px;
    height: 48px;
    border: none;
    background-color: $color-input-body;
    font-size: 13px;
    
}

.body-add-find__button {
    width: 16%;
    height: 100%;
    background-color: $color-tag;
    cursor: pointer;
    transition: all 0.4s linear;

}

.body-add-find__button:hover {
    background-color: $color-hover;
}

.body-add-find__button__svg {
    height: 50%;
    width: 50%;
    margin: 23%;
}

.body-add-find__input:focus {
    outline: none;
}

.body-add-mailing__box {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.body-add-mailing__input {
    border: none;
    background-color: $color-input-body;
    padding: 18px;
    height: 48px;
    font-size: 13px;
    box-sizing: border-box;
}

.body-add-mailing__input:focus {
    outline: none;
    border-bottom: 1px solid $color-tag;
}



.body-add-mailing__button {
    margin-top: 18px;
    font-size: 14px;
    text-transform: uppercase;
    padding: 18px;
    height: 48px;
    box-sizing: border-box;
    border: none;
    color: white;
    background-color: $color-tag;
    transition: all 0.4s linear;
}

.body-add-mailing__button:hover {
    background-color: $color-hover;
}

.body-add-tags {
    @media (min-width: $tablet-min) and  (max-width: $tablet-max) {
        width: 100%;
    }
}

.body-add-tags__title {
    margin-top: 61px;
    @media (min-width: $tablet-min) and  (max-width: $tablet-max) {
        margin-top: 52px;
    }
    @media (max-width: $mobile-max) {
        margin-top:40px; 
    }
}

.body-add-tags__list {
    width: 271px;
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    text-transform: uppercase;
    @media (min-width: $tablet-min) and  (max-width: $tablet-max) {
        width: 100%;
    }
}

.body-add__tag {
    border: 3px solid $color-border-tag;
    margin: 0 5px 5px 0;
    padding: 8px 14px;
}


.body-add-themes__title {
    margin-top: 61px;
    @media (max-width: $mobile-max) {
        margin-top: 40px;
    }
}

.body-add-themes__item {
    font-size: 14px;
    margin: 0 0 36px 0;
    transition: all 0.4s linear;
    @media (max-width: $mobile-max) {
        margin-bottom: 20px;
    }
}
.body-add-themes__item:hover {
    color: $color-tag;
}

.body-add-themes__item::after {
    content: "";
    height: 1px;
    margin: 10px auto 0 auto;
    background-color: $color-border-tag;
    display: block;
    width: 100%;

}

.body-add-themes__item__number {
    font-size: 12px;
    vertical-align: top;
    margin-left: 15px;
    color: $color-tag;
}