.gallery {
    max-width: 1170px;
    margin: 0 auto;

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        width: 91%;
    }

    @media (max-width: $mobile-max) {
        width: 92%;
        margin-top: 42px;
        flex-direction: column;
    }

    &__title {
        display: block;
        font-size: 20px;
        width: 100%;
        text-align: center;
        margin: 0 auto 20px;
        text-transform: uppercase;
    }

    &__title::after {
        display: block;
        content: '';
        height: 3px;
        width: 66px;
        background-color: $color-line;
        margin: 15px auto 25px;
    }

    &__management {
        justify-content: center;
        display: flex;
        align-items: center;
    }

    &__text {
        font-size: 16px;
        text-transform: uppercase;
    }

    &__button {
        transition: all 0.3s linear;
        width: 50px;
        margin-left: 20px;
        cursor: pointer;

        & > svg:hover {
            fill: $color-tag-cup;
            transition: all 0.3s linear;
        }
    }


    &__img {
        max-height: 300px;
        padding: 5px;
        border: 1px solid $color-tag-cup;
        overflow: hidden;
        transition: max-height 0.7s;
    }

}