header {
    margin: 0;
    text-transform: uppercase;
    position: relative;
    width: 100%;
    background-image: url('/img/banner-bg.jpg');
    background-size: cover;
    background-color: black;
    color: $font-white;
    padding: 20px 0px 146px 0px;
    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        background-image: url('/img/banner-bg-tablet.jpg');
    }
    @media (max-width: $mobile-max) {
        background-image: url('/img/banner-mobile.jpg');
    }
    
    &:after {
        width: 100%;
        height: 100%;
        content: "";
        position: absolute;
        background-color: black;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 0.6;
    }
}
