.navigation-items {
    font-size: 13px;
    display: flex;
    text-decoration: none;
    @media (max-width: $tablet-max) {
        background: linear-gradient(45deg, $color-tag, $color-hover, $color-border);
        width: 100%;
        height: 100%;
        flex-direction: column;
        font-size: 35px;
        padding:  100px 22px 22px;
        color: whitesmoke;
        letter-spacing: 10px;
        
        @media (max-width: $mobile-max) {
            align-items: center;
        }
    }

    
    &__wrapper {
        @media (max-width: $tablet-max) {
            display: none;
            width: 100vw;
            height: 100vh;
            position: absolute;
            top: -20px;
            left: 0;
        }
        @media (max-width: $mobile-max) {
            left: -9%;
        }
    }

    &__item {
        display: block;
        margin-right: 28px;
        transition: all 0.3s linear;
    }

    &__item:hover {
        text-decoration: underline;
        @media(max-width: $tablet-max) {
            text-decoration: none;
        }
    }
}
