.navigation {
    width: 71%;
    margin: 0px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        width: 91%;
    }
    @media (max-width: $mobile-max) {
        width: 100%;
        flex-direction: column;
    }

    &__logo {
        width: 16%;

        @media (min-width: $tablet-min) and (max-width: $tablet-max) {
            width: 22%;
        }

        @media (max-width: $mobile-max) {
            order: 2;
            width: 81.2%;
            margin: 186px auto 0 auto;

        }
    }

    &__title {
        display: block;
        width: 36%;
        font-size: 45px;
        margin-top: 120px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        @media (min-width: $tablet-min) and (max-width: $tablet-max) {
            font-size: 40px;
            margin-top: 108px;
            width: 67%;
        }

        @media (max-width: $mobile-max) {
            font-size: 26px;
            width: 100%;
            margin-top: 42px;
        }
    }

    &__sandwich {
        display: none;

        @media (min-width: $tablet-min) and (max-width: $tablet-max) {
            display: block;
            width: 25px;
            fill: $font-white;
            cursor: pointer;
        }

        @media (max-width: $mobile-max) {
            display: block;
            width: 25px;
            fill: $font-white;
            cursor: pointer;
            align-self: flex-end;
        }

    }
}