.navigation-items {
    width: 34%;
    font-size: 13px;
    display: flex;
    text-decoration: none;
    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        width: 24px;
    }
    @media (max-width: $mobile-max) {
        align-self: flex-end;
        width: 24px;
    }

    &__item {
        display: block;
        margin-right: 28px;
        transition: all 0.3s linear;
        @media (max-width: $tablet-max) {
            display: none;
        }
    }
    &__item:hover {
        text-decoration: underline;
    }
}
