.products {
    width: 91%;
    max-width: 1170px;
    margin: 0 auto 0 auto;
    @media (max-width: $tablet-max) {
        width: 91%;
    }

    &__title {
        display: block;
        font-size: 20px;
        width: 100%;
        text-align: center;
        margin: 0 auto 20px;
        text-transform: uppercase;
    }

    &__title:after {
        display: block;
        content: '';
        height: 3px;
        width: 66px;
        background-color: $color-line;
        margin: 14px auto 25px auto;
    }

    &__items {
        display: flex;
        width: 100%;
        @media(max-width: $tablet-max) {
            flex-wrap: wrap;
        }
    }

    &__items > .products-item:nth-child(1n+2) {
        @media (min-width: $tablet-max) {
        margin-left: 113px;
        }
    }

    &__items > .products-item:nth-child(even) {
        @media (max-width: $tablet-max) {
            margin-left: 50px;
        }
    }
}
