.sidebar-themes {

   &__title {
        width: 100%;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 29px;

        &::after {
            display: block;
            content: '';
            height: 3px;
            width: 66px;
            background-color: $color-line;
            margin: 15px auto 0 auto;
        }

        &::after {
            display: block;
            content: '';
            height: 3px;
            width: 66px;
            background-color: $color-line;
            margin: 15px auto 0 auto;
        
        }
    }
}
