.sidebar-posts {
    width: 100%;

    & > &__post:nth-child(1n+2) {
        margin-top: 21px;
    }

    &__title {
        width: 100%;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;

        &::after {
            display: block;
            content: '';
            height: 3px;
            width: 66px;
            background-color: $color-line;
            margin: 15px auto 20px auto;
        }
    }

    &-post {
        width: 100%;
        display: flex;

        &__img {
            width: 25%;
            @media (min-width: $tablet-min) and  (max-width: $tablet-max) {
                width: 25.7%;
            }
            @media (max-width: $mobile-max) {
                width: 21%;
            }
        }

        &__content {
            margin-left: 21px;
            width: calc(100% - 21px - 25%);
            @media (min-width: $tablet-min) and  (max-width: $tablet-max) {
                width: 74.3%;
            }
            @media (max-width: $mobile-max) {
                width: 78%; 
            }
        }

        &__date {
            font-size: 12px;
            color: $color-font;
            margin: 0 14px 6px 0;
        }

        &__text {
            text-transform: uppercase;
            font-size: 14px;
        }
    }
}
