.sidebar-tags {
    @media (min-width: $tablet-min) and  (max-width: $tablet-max) {
        width: 100%;
    }

    &__title {
        width: 100%;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;

        &::after {
            display: block;
            content: '';
            height: 3px;
            width: 66px;
            background-color: $color-line;
            margin: 15px auto 29px;
        }
    }

    &__list {
        width: 271px;
        display: flex;
        flex-wrap: wrap;
        font-size: 12px;
        text-transform: uppercase;
        @media (min-width: $tablet-min) and  (max-width: $tablet-max) {
            width: 100%;
        }
    }

    &__tag {
        border: 3px solid $color-border-tag;
        margin: 0 5px 5px 0;
        padding: 8px 14px;
        transition: all 0.3s linear;

        &:hover {
            border-color: $color-tag-cup;
        }
    }
}
