.sidebar {
    width: 32%;
    margin-left: 100px;
    @media (min-width: $tablet-min) and  (max-width: $tablet-max) {
        width: 39%;
        margin-left: 38px;
    }
    @media (max-width: $mobile-max) {
        width: 91%;
        margin: 42px auto 0 auto;
    }
}
.sidebar > div {
    margin-top: 62px;
    @media (max-width: $tablet-max) {
        margin-top: 52px;
    }
    @media (max-width: $mobile-max) {
        margin-top: 42px;
    }
}
