.sidebar-posts {
    width: 100%;

    & > .sidebar-posts-post:nth-child(1n+2) {
        margin-top: 21px;
    }

    &__title {
        width: 100%;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;

        &::after {
            display: block;
            content: '';
            height: 3px;
            width: 66px;
            background-color: $color-line;
            margin: 15px auto 20px auto;
        }
    }
}
