.spoiler {
    max-width: 1170px;
    margin: 0 auto;

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        width: 91%;
    }

    @media (max-width: $mobile-max) {
        width: 92%;
        margin-top: 42px;
        flex-direction: column;
    }

    &__title {
        display: block;
        font-size: 20px;
        width: 100%;
        text-align: center;
        margin: 0 auto 20px;
        text-transform: uppercase;
    }

    &__title::after {
        display: block;
        content: '';
        height: 3px;
        width: 66px;
        background-color: $color-line;
        margin: 15px auto 25px;
    }

    &__button {
        justify-content: center;
        display: flex;
        align-items: center;
        background-color: inherit;
        border: none;
        margin: auto;
        cursor: pointer;

        &:hover {
            fill: $color-tag-cup;
            color: $color-tag-cup;
            transition: fill 0.4s linear;
            transition: color 0.4s linear;
        }
    }

    &__text {
        font-size: 16px;
        text-transform: uppercase;
    }

    &__svg {
        width: 50px;
        margin-left: 20px;
        transition: transform 0.3s linear;
        transform: rotate(0deg);
        &-active {
            transform: rotate(180deg);
        }
    }


    &__content {
        max-height: 300px;
        overflow: hidden;
    }
    

}