.swiper-container {
    max-width: 1170px;
    margin: auto;
    border-bottom: 1px solid gray;
}
.swiper__content {
    width: 600px;
    margin: auto;
    padding-bottom: 30px;
}
.swiper__title {
    text-align: center;
    font-size: 20px;

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        font-size: 18px;
        margin-top: 52px;
    }

    @media (max-width: $mobile-max) {
        font-size: 16px;
        margin-top: 40px;
    }

    &::after {
        display: block;
        content: '';
        height: 3px;
        width: 66px;
        background-color: $color-line;
        margin: 14px auto 25px auto;

        @media (max-width: $mobile-max) {
            margin: 10px auto 22px auto;
        }

    }
}

.swiper-button {
    width: 500px;
    margin: auto;

    &__item {
        display: inline-block;
        color: white;
        text-decoration: none;
        padding: .5em 2em;
        outline: none;
        border-width: 2px 0;
        border-style: solid none;
        border-color: #FDBE33 #000 #D77206;
        border-radius: 6px;
        background: linear-gradient(#F3AE0F, #E38916) #E38916;
        transition: 0.2s;

        &:hover {
            background: linear-gradient(#f5ae00, #f59500) #f5ae00;
        }

        &:active {
            background: linear-gradient(#f59500, #f5ae00) #f59500;
            box-shadow: 0 3px rgb(33, 147, 90) inset;
        }
    }
}