.tabs {
    max-width: 1170px;
    margin: auto;
    margin-top: 62px;
    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        width: 91%;
    }
    @media (max-width: $mobile-max) {
        width: 92%;
        margin-top: 42px;
        flex-direction: column;
    }

    &-header {
        display: none;
        @media(max-width: $mobile-max) {
            display: block;
            padding: 10px;
            border: 1px solid #d3c59d;
        }
    }

    &__themes {
        display: flex;
        @media(max-width: $mobile-max) {
            display: none;
            flex-direction: column;
            margin: 25px 0 0 0;
        }

        & > .tabs__theme {
            flex-grow: 1;
        }

        & > .tabs__theme:nth-child(1n +2) {
            margin-left: 25px;
            @media(max-width: $mobile-max) {
                margin-left: 0;

            }
        }
        & > .tabs__theme:nth-child(1) {
            transform: translateX(1px);
        }
        & > .tabs__theme:last-child {
            transform: translateX(-1px);
        }
    }

    &__theme {
        &--active {
            box-shadow: 0 1px 0 #fff, 0 0 0 1px $color-border;
        }
        padding: 10px;
        cursor: pointer;
        background-color: white;
        @media(max-width: $mobile-max) {
            border: 1px solid ;
        }
    }
}